<%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-primary btn-block"%>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Restaurant Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.phone_number %></td>
      <td><%= restaurant.category %></td>
    </tr>
    <% end %>
  </tbody>
</table>
