<h1><%= @restaurant.name %></h1>
<p>We are located at: <%= @restaurant.address %></p>
<p>Contact: <%= @restaurant.phone_number %></p>
<p>We serve <%= @restaurant.category %> food</p>

<h2>Reviews</h2>
<%= link_to "Add a review!", new_restaurant_review_path(@restaurant), class: "btn btn-primary btn-block"%><br>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %> | Rating: <%= review.rating %> / 5
    </li>
  <% end %>
</ul>